print("Which blizzard game should you play?")
sol = False
while not sol:
    print("1. Do you want to play tf2, but with the addition of hot girls so it's not a total sausage fest?")
    choice = input("yes/no:")
    if choice == "yes":
        print("Play Overwatch")
        sol=True
    else:
        print("2. Are you dark and edgy, and do you enjoy feeling like a god as you fight endless waves of enemies with op gear?")
        choice = input("yes/no:")
        if choice == "yes":
            print("Play Diablo 3")
            sol = True
        else:
            print("3. Do you like moba, but don't want to bother with all of that pesky moba stuff like item and lasthits?")
            choice=input("yes/no:")
            if choice== "yes":
                print("Play Heroes of the Storm")
                sol = True
            else:
                print("4. Do yu want to spend hours upon hours perfecting your macro and micro play, only to get your ass handed to you by a korean guy anyway?")
                choice=input("yes/no:")
                if choice=="yes":
                    print("Play Starcraft 2")
                    sol = True
                else:
                    print("5. Do you like it when you life is governed by a series of frustating random events over which you have no control?")
                    choice=input("yes/no:")
                    if choice=="yes":
                        print("Play Hearthstone")
                        sol = True
                    else:
                        print("6. Do you have no life, no friends, and an endless amount of time to devote to a video game?")
                        choice=input("yes/no:")
                        if choice=="yes":
                            print("Play World of Warcraft")
                            sol = True
                        else:
                            print("There is really no pleasing some people. Maybe take up knitting?")
                            sol = True
